/* Wayback versions CSS */
body {
margin: 0
}
div {  
  padding-left: 0px;
  font-family: roboto, arial, sans-serif;  
  color: white;
  margin: 0 
}

li { 
  margin: 0;
  padding: 0 5px
}

ul { 
  list-style-type: none;
  padding: 0
}

li {
  margin: 0;
  padding: 0;   
}

h4 {
margin:0;
display: block;
padding: 13px 5px 13px 13px;
border-bottom: 1px solid #ffffff26;
}

h4.yearHeader {

}

h4.monthHeader {
padding-left: 20px;
}

/* buttons  states */
h4:hover, h4:hover span, h4:hover a, li.version:hover a  {
background-color: white;
color: #033f72;
cursor:pointer;
}

h4:active, h4:active span, h4:active a {
background-color: #033f72;
color: white
}

span, a{
font-size: 13px;
font-weight: 400; 
color: white;
}

a  {

}

li.version  {
padding: 13px 5px 13px 35px;
}

li.version:hover  {
background: white;
}


.versionsCount {
    float: right;
    padding-right: 40px;
    font-size: 0.7em;
    padding-top: 2px;
}

div.urlSearchContainer.list > div.tablePresentation {
  display: none;
}

div.urlSearchContainer.table > div.listPresentation {
  display: none;
}

span.interactionStatus {
  position: absolute;
  right:0  
}

li.open > h4 > span.interactionStatus:after {
  /*content: "\2191"; */
  content: url(../img/button-a-up.svg); 
  float: right;
  cursor: default;
  padding-right: 15px;
  margin-top: 0px;
}

li.close > h4 > span.interactionStatus:after {
  /*content: "\2191"; */
  content: url(../img/button-a-down.svg); 
  float: right;
  cursor: default;
  padding-right: 15px;
  margin-top: 0px;
}

li.close > ul {
  display: none;
}

div.urlSearchContainer.list a.listLink {
  font-weight: bold;
}

div.urlSearchContainer.table a.tableLink {
  font-weight: bold;
}

.noVersions {
	display: none;
}

.previous:after {
	content: "\2190";
}

.next:after {
	content: "\2192";
}

.tablePresentation {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.tablePresentation table td {
  min-width: 50px;
}

.tablePresentation table thead {
  background-color: white;
}

.viewingVersion  {
    font-weight: 400;
    padding: 13px 5px 13px 35px;
    display: block;
    background-color: #1c75c0
}

.viewingVersion:hover {
    background-color: white;
    color: #033f72;
}

.viewingVersion:active {
    background-color: #033f72;
    color: white;
}

.list .previous ,.list .next {
  display: none;
}

@media (max-width: 200px) {
  .urlSearchEstimatedResultsContainer, .resultsHeader {
    display: none;
  }
}

/*
 * Loading spinner
 */
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  /*width: 100%;*/
  padding: 10%;
  flex-wrap: wrap;
}
.loader div {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
}
@keyframes load8 {
  100% {
    transform: rotatez(360deg);
  }
}
.loader div::before {
  content: "";
  color: white;
  height: 50px;
  width: 50px;
  background: transparent;
  border-radius: 50%;
  border: 10px solid transparent;
  border-color: #1c75c0 #1c75c0 transparent transparent;
  animation: load8 .6s infinite;
}
